/*@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap') layer(base);

@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --color-color-1: hsl(var(--color-1));
  --color-color-2: hsl(var(--color-2));
  --color-color-3: hsl(var(--color-3));
  --color-color-4: hsl(var(--color-4));
  --color-color-5: hsl(var(--color-5));

  --color-sidebar: hsl(var(--sidebar-background));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-ring: hsl(var(--sidebar-ring));

  --color-ruby-100: #fac8d5;
  --color-ruby-200: #fa91ad;
  --color-ruby-300: #f55376;
  --color-ruby-400: #ec0001;

  --color-emerald-100: #ceefec;
  --color-emerald-200: #b2dfdb;
  --color-emerald-300: #80cbc4;
  --color-emerald-400: #27a69a;
  --color-emerald-500: #00897b;

  --color-opal-100: #bbdefb;
  --color-opal-200: #7ce1fe;
  --color-opal-300: #50c2f7;
  --color-opal-400: #82f0f8;
  --color-opal-500: #e3f2fd;
  --color-opal-600: #ffe0b3;
  --color-opal-700: #e4beed;

  --animate-rainbow: rainbow var(--speed, 2s) infinite linear;
  --animate-gradient: gradient 8s linear infinite;

  @keyframes rainbow {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 200%;
    }
  }
  @keyframes gradient {
    to {
      background-position: var(--bg-size) 0;
    }
  }
  @keyframes aurora-border {
    0%,
    100% {
      border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    }
    25% {
      border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
    }
    50% {
      border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
    }
    75% {
      border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
    }
  }
  @keyframes aurora-1 {
    0%,
    100% {
      top: 0;
      right: 0;
    }
    50% {
      top: 50%;
      right: 25%;
    }
    75% {
      top: 25%;
      right: 50%;
    }
  }
  @keyframes aurora-2 {
    0%,
    100% {
      top: 0;
      left: 0;
    }
    60% {
      top: 75%;
      left: 25%;
    }
    85% {
      top: 50%;
      left: 50%;
    }
  }
  @keyframes aurora-3 {
    0%,
    100% {
      bottom: 0;
      left: 0;
    }
    40% {
      bottom: 50%;
      left: 25%;
    }
    65% {
      bottom: 25%;
      left: 50%;
    }
  }
  @keyframes aurora-4 {
    0%,
    100% {
      bottom: 0;
      right: 0;
    }
    50% {
      bottom: 25%;
      right: 40%;
    }
    90% {
      bottom: 50%;
      right: 25%;
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
    :root {
        --background: oklch(1.0000 0 0);
        --foreground: oklch(0 0 0);
        --card: oklch(1.0000 0 0);
        --card-foreground: oklch(0 0 0);
        --popover: oklch(0.9810 0.0054 297.7275);
        --popover-foreground: oklch(0 0 0);
        --primary: oklch(0.4687 0.0992 152.3700);
        --primary-foreground: oklch(0.9745 0.0134 295.3252);
        --secondary: oklch(0.8610 0.1458 83.3967);
        --secondary-foreground: oklch(0.3991 0.0135 297.2217);
        --muted: oklch(0.8964 0.0055 297.7159);
        --muted-foreground: oklch(0.4531 0.0407 293.8808);
        --accent: oklch(0.9249 0 0);
        --accent-foreground: oklch(0.3221 0.0249 294.7874);
        --destructive: oklch(0.6192 0.2419 11.3318);
        --destructive-foreground: oklch(1.0000 0 0);
        --border: oklch(0.9276 0.0058 264.5313);
        --input: oklch(0.9276 0.0058 264.5313);
        --ring: oklch(0.5122 0.2637 281.8830);
        --chart-1: oklch(0.4687 0.0992 152.3700);
        --chart-2: oklch(0.8610 0.1458 83.3967);
        --chart-3: oklch(0.9134 0.0027 286.3464);
        --chart-4: oklch(0.8493 0.0151 290.2579);
        --chart-5: oklch(0.9376 0.0027 286.3482);
        --sidebar: oklch(0.9702 0 0);
        --sidebar-foreground: oklch(0.3703 0.0119 285.8054);
        --sidebar-primary: oklch(0.2103 0.0059 285.8852);
        --sidebar-primary-foreground: oklch(0.9851 0 0);
        --sidebar-accent: oklch(0.9674 0.0013 286.3752);
        --sidebar-accent-foreground: oklch(0.2103 0.0059 285.8852);
        --sidebar-border: oklch(0.9276 0.0058 264.5313);
        --sidebar-ring: oklch(0.6231 0.1880 259.8145);
        --font-sans: Lexend, ui-sans-serif, sans-serif, system-ui;
        --font-serif: Poppins, sans-serif;
        --font-mono: JetBrains Mono, monospace;
        --radius: 0.95rem;
        --shadow-x: 0px;
        --shadow-y: 4px;
        --shadow-blur: 10px;
        --shadow-spread: 0px;
        --shadow-opacity: 0.12;
        --shadow-color: hsl(240 30% 25%);
        --shadow-2xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
        --shadow-xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
        --shadow-sm: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
        --shadow: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
        --shadow-md: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 2px 4px -1px hsl(240 30% 25% / 0.12);
        --shadow-lg: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 4px 6px -1px hsl(240 30% 25% / 0.12);
        --shadow-xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 8px 10px -1px hsl(240 30% 25% / 0.12);
        --shadow-2xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.30);
        --tracking-normal: 0em;
        --spacing: 0.25rem;
    }

    .dark {
        --background: oklch(0.1366 0.0126 81.3174);
        --foreground: oklch(0.9807 0.0041 301.4259);
        --card: oklch(0.1366 0.0126 81.3174);
        --card-foreground: oklch(0.9913 0.0013 286.3760);
        --popover: oklch(0.1162 0.0199 299.4097);
        --popover-foreground: oklch(0.9807 0.0041 301.4259);
        --primary: oklch(0.4687 0.0992 152.3700);
        --primary-foreground: oklch(0.9745 0.0134 295.3252);
        --secondary: oklch(0.1987 0.0080 297.1025);
        --secondary-foreground: oklch(0.7439 0.0159 298.4629);
        --muted: oklch(0.2421 0.0077 297.2618);
        --muted-foreground: oklch(0.6800 0.0370 296.3967);
        --accent: oklch(0.2455 0.0171 295.2947);
        --accent-foreground: oklch(0.7785 0.0242 296.6057);
        --destructive: oklch(0.6192 0.2419 11.3318);
        --destructive-foreground: oklch(1.0000 0 0);
        --border: oklch(0.2781 0.0296 256.8480);
        --input: oklch(0.2781 0.0296 256.8480);
        --ring: oklch(0.5122 0.2637 281.8830);
        --chart-1: oklch(0.4687 0.0992 152.3700);
        --chart-2: oklch(0.8610 0.1458 83.3967);
        --chart-3: oklch(0.1987 0.0080 297.1025);
        --chart-4: oklch(0.2455 0.0171 295.2947);
        --chart-5: oklch(0.2297 0.0096 294.7997);
        --sidebar: oklch(0.1173 0.0090 73.4751);
        --sidebar-foreground: oklch(0.9674 0.0013 286.3752);
        --sidebar-primary: oklch(0.4882 0.2172 264.3763);
        --sidebar-primary-foreground: oklch(1.0000 0 0);
        --sidebar-accent: oklch(0.2739 0.0055 286.0326);
        --sidebar-accent-foreground: oklch(0.9674 0.0013 286.3752);
        --sidebar-border: oklch(0.2739 0.0055 286.0326);
        --sidebar-ring: oklch(0.6231 0.1880 259.8145);
        --font-sans: Lexend, ui-sans-serif, sans-serif, system-ui;
        --font-serif: Poppins, sans-serif;
        --font-mono: JetBrains Mono, monospace;
        --radius: 0.95rem;
        --shadow-x: 0px;
        --shadow-y: 4px;
        --shadow-blur: 10px;
        --shadow-spread: 0px;
        --shadow-opacity: 0.12;
        --shadow-color: hsl(240 30% 25%);
        --shadow-2xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
        --shadow-xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
        --shadow-sm: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
        --shadow: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
        --shadow-md: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 2px 4px -1px hsl(240 30% 25% / 0.12);
        --shadow-lg: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 4px 6px -1px hsl(240 30% 25% / 0.12);
        --shadow-xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 8px 10px -1px hsl(240 30% 25% / 0.12);
        --shadow-2xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.30);
    }

    @theme inline {
        --color-background: var(--background);
        --color-foreground: var(--foreground);
        --color-card: var(--card);
        --color-card-foreground: var(--card-foreground);
        --color-popover: var(--popover);
        --color-popover-foreground: var(--popover-foreground);
        --color-primary: var(--primary);
        --color-primary-foreground: var(--primary-foreground);
        --color-secondary: var(--secondary);
        --color-secondary-foreground: var(--secondary-foreground);
        --color-muted: var(--muted);
        --color-muted-foreground: var(--muted-foreground);
        --color-accent: var(--accent);
        --color-accent-foreground: var(--accent-foreground);
        --color-destructive: var(--destructive);
        --color-destructive-foreground: var(--destructive-foreground);
        --color-border: var(--border);
        --color-input: var(--input);
        --color-ring: var(--ring);
        --color-chart-1: var(--chart-1);
        --color-chart-2: var(--chart-2);
        --color-chart-3: var(--chart-3);
        --color-chart-4: var(--chart-4);
        --color-chart-5: var(--chart-5);
        --color-sidebar: var(--sidebar);
        --color-sidebar-foreground: var(--sidebar-foreground);
        --color-sidebar-primary: var(--sidebar-primary);
        --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
        --color-sidebar-accent: var(--sidebar-accent);
        --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
        --color-sidebar-border: var(--sidebar-border);
        --color-sidebar-ring: var(--sidebar-ring);

        --font-sans: var(--font-sans);
        --font-mono: var(--font-mono);
        --font-serif: var(--font-serif);

        --radius-sm: calc(var(--radius) - 4px);
        --radius-md: calc(var(--radius) - 2px);
        --radius-lg: var(--radius);
        --radius-xl: calc(var(--radius) + 4px);

        --shadow-2xs: var(--shadow-2xs);
        --shadow-xs: var(--shadow-xs);
        --shadow-sm: var(--shadow-sm);
        --shadow: var(--shadow);
        --shadow-md: var(--shadow-md);
        --shadow-lg: var(--shadow-lg);
        --shadow-xl: var(--shadow-xl);
        --shadow-2xl: var(--shadow-2xl);
    }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

* {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  /*font-family: 'Bricolage Grotesque', sans-serif;*/
}

number-flow-react::part(suffix) {
  margin-left: .0625em;
  font-weight: normal;
  font-size: 0.75em;
  color: var(--muted);
  opacity: 0.8;
}
